<ion-header [translucent]="true">
  <ion-toolbar class="custom-toolbar">
    <ion-buttons class="retour"  slot="start" >
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="primary">
      <ion-button>
        <ion-icon slot="icon-only" ios="ellipsis-horizontal" name="log-out-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content >
  <ion-card class="ion-no-margin">
    <ion-img src="assets/images/header2.png"></ion-img>
  </ion-card>
  
  <ion-card class="custom-card">
    <img [src]="selectedAnnonce.images" />
    <ion-card-header>
      <ion-card-subtitle>{{selectedAnnonce.user.name}}</ion-card-subtitle>
      <ion-card-title>{{selectedAnnonce.title}}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      {{selectedAnnonce.description}}
    </ion-card-content>
  </ion-card>
  <div class="button-container">
  <ion-button class="btn-edit" > <ion-icon name="create-outline"></ion-icon> &nbsp;Modifier</ion-button>
  <ion-button class="btn-delete" (click)="presentAlert()" color="danger"><ion-icon name="trash-outline"></ion-icon> &nbsp; supprimer</ion-button>
</div>
</ion-content>
