<ion-header class="ion-no-border">
  <ion-toolbar>
    <!--<ion-title>Login</ion-title>-->
  </ion-toolbar>
  </ion-header>
  
  <ion-content >
    <ion-card class="ion-no-margin">
      <ion-img src="assets/images/header.png"></ion-img>
      <ion-img class="img-logo" src="assets/images/logo1.png"></ion-img>
      <ion-card-header>
        <ion-card-title>
          Bienvenue
        </ion-card-title>
        <ion-card-subtitle class="ion-text">
          Explorez l'Immobilier avec Nous. Trouvez, Choisissez, Embarquez!
        </ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        <div class="signin-btns">
          <ion-button routerLink="/signin" fill="solid" shape="round"  class="loginbtn">
            connexion
          </ion-button>
          <ion-button routerLink="/signup" fill="outline" shape="round" color="dark">
            s'inscrire
          </ion-button>
        </div>
      </ion-card-content>
      <ion-img src="assets/images/fotter.png" class="fotter"></ion-img>
    </ion-card>
  </ion-content>
  